.kontak{
    padding-top: 100px;
    padding-bottom: 100px;
}

.kontak h1 {
    font-size: 50px;
    color: #69017e;
    margin-bottom: 20px;
}

.kontak span {
    color: #69017e;
}

@media screen and (max-width: 991px) {
    .kontak {
        padding-left: 5%;
    }

    .kontak h1 {
        font-size: 44px;
    }
}