
.background-projects {
    background-color: #e7e8ff;
}

.container-projects {
    padding: 70px 10%;
}

.container-projects h2 {
    margin-bottom: 15px;
    color: #69017e;
}

.text-projects{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.subtitle-text {
    width: 50%;
    text-align: justify;
}

.subtitle-text button {
    padding: 10px 15px;
    background-color: #69017e;
    margin-top: 10px;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 17px;
}

.subtitle-text button:hover {
    background-color: #b101d4;
}

.properties-text {
    margin-right: 10px;
}

.font-text {
    margin-top: 20px;
}

.tech-stack {
    margin-top: 40px;
    margin-bottom: 20px;
}

.img-portfolio img {
    width: 100%;
}

@media screen and (max-width: 609px) {
    .container-projects {
        padding-top: 50px;
    }

    .container-projects h2 {
        font-size: 18px;
    }

    .subtitle-text button {
        margin-top: 20px;
    }
}