@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  /* background-color: #1E1E1E; */
  background-color: #f3f8fb;
  /* color: #fff; */
  color: rgb(47, 47, 47);
  height: auto;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 33px;
}

.container {
  padding: 15px 10%;
}

.footer {
  text-align: center;
}

@media screen and (max-width: 991px) {
  .container {
    padding: 8px 5%;
  }
}

@media screen and (max-width: 609px) {
  .App {
    line-height: 28px;
    font-size: 15px;
  }
}
